# Environment
/env
.env
.env.template

# Git
/.git

# Pycache
/__pycache__

# README
README.md

# Testing
/.pytest_cache
geckodriver.exe
geckodriver.log

# Vagrant
Vagrantfile
/.vagrant

# VS Code
/.vscode

## Terraform ##
**/.terraform/*

*.tfstate
*.tfstate.*
crash.log
*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc