# Environment
/env
.env
.env.template

# Git
/.git

# Pycache
/__pycache__

# README
README.md

# Testing
/.pytest_cache
geckodriver.exe
geckodriver.log

# Vagrant
Vagrantfile
/.vagrant

# VS Code
/.vscode
