{% extends "layout.html" %}
{% block title %}The Perfect Productivity Platform{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4"">The Perfect Productivity Platform</h1>
    <p class="lead">Not just another to-do app.</p>
  </div>

  <div class="row" >
    <div class="col-md-3">
      <h2>New To-Do</h2>
      <form action="/add" method="POST" id="add">
        <label for="title">Task Name:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="due">Due Date:</label><br>
        <input type="date" id="due" name="due"><br><br>
        <label for="card_list">Add To:</label><br>
        <select name="card_list" id="card_list">
          {% for card_list in view_model.lists %}
          <option value="{{card_list.name}}">{{card_list.name}}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn-primary btn-sm" value="Submit">Add</button>
      </form>
    </div>
    <div class="col-md-9">
      <h2>To-Do List</h2>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" disabled>Sort By</button>
        <a href="/sorted/id" class="btn btn-secondary" type="submit">ID</a>
        <a href="/sorted/title" class="btn btn-secondary" type="submit">Title A-Z</a>
        <a href="/sorted/status" class="btn btn-secondary" type="submit">Status</a>
      </div>
      <a href="/show_all" class="btn btn-secondary" type="submit">Show All Complete</a>
      <div class="container">
        <div class="row" id="headings">
          <div class="col-md-4">
            Tasks:
          </div>
          <div class="col-md-2">
            Due:
          </div>
          <div class="col-md-2">
            Last Modified:
          </div>
          <div class="col-md-4">
            Options:
          </div>
        </div>
      </div>
      <ul>
        {% for card_list in view_model.lists_view %}
          <h5>
            {{card_list.name}}
          </h5>
          {% for item in card_list.cards %}
          <li>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  ID{{ item.idShort }}: {{ item.title }}.
                </div>
                <div class="col-md-2">
                  {% if item.due_date != None %}
                    {{ item.due_date }}
                  {% else %}
                    ----
                  {% endif %}
                </div>
                <div class="col-md-2">
                  {% if item.last_modified != None %}
                    {{ item.last_modified }}
                  {% else %}
                    ----
                  {% endif %}
                </div>
                <form action="/card/{{item.id}}" class="form-inline" method="POST">
                  <label for="card_list">List:</label>
                  <select name="card_list">
                    {% for card_list in view_model.lists %}
                    <option value="{{card_list.id}}">{{card_list.name}}</option>
                    {% endfor %}
                  </select>
                  <button type="submit" class="btn btn-info btn-sm" value="Submit">Update</button>
                </form>
                <form action="/delete/{{item.id}}" class="form-inline" method="POST">
                  <button type="submit" class="btn btn-danger btn-sm" value="Submit">
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
